<div class="div-body">
  <div class="div-search">
    <div *ngIf="!searchMode">
      <div class="div-btn-search">
        <button mat-button class="btn-search" (click)="searchModeChange(true)">Search place</button>
      </div>
      <img src={{citySelected.icon}} alt="">
      <p>{{mainTemp | number : '1.1-1'}}<span class="span">{{unit}}</span></p>
      <p class="p-secundary">{{mainWeather}}</p>
      <div class="footer-search">
        <p class="p-fecha">Today - {{ChangedFormat}}</p>
        <p class="p-ubication"><span class="material-symbols-outlined">location_on</span> {{citySelected.name}}</p>
      </div>
    </div>
    <div *ngIf="searchMode">
      <div class="text-end">
        <button mat-button (click)="searchModeChange(false)">
          <span class="material-symbols-outlined" >close</span>
        </button>
      </div>
      <div class="d-flex">
        <div class="input-wrapper div-btn-search">
          <input type="search" class="input" [(ngModel)]="citySearch" placeholder="Search location" />
          <span class="material-symbols-outlined input-icon">search</span>
       </div>
          <button mat-button class="btn-searchMode div-btn-search" (click)="searchCity()">Search</button>
      </div>
      <div class="d-block mt-5">
        <div class="city" *ngFor="let cities of citiesFound" (click)="selectCity(cities.name, cities.lat, cities.lon)">
          <p>{{cities.name}}, {{cities.state}}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="div-history">
    <div class="text-end">
      <button mat-button [ngClass]="{'button-FC-active': celcius, 'button-FC':!celcius}" (click)="changeUnit(true)">°C</button>
      <button mat-button [ngClass]="{'button-FC-active': !celcius, 'button-FC':celcius}" (click)="changeUnit(false)">°F</button>
    </div>
    <div class="text-center cards-history">
      <div *ngFor="let day of daysWeatheer" class="div-cards">
        <p class="p-cards">{{day.day}}, {{day.date}}</p>
        <img src={{day.icon}} alt="" height="80">
        <div class="temperature">
          <p class="p-cards">{{day.min | number : '1.1-1'}} <span>{{unit}}</span></p>
          <p class="p-cards-max">{{day.max | number : '1.1-1'}} <span>{{unit}}</span></p>
        </div>
      </div>
      <h1 class="text-center">Today’s Hightlights</h1>
      <div class="row justify-content-center div-hightlights">
        <div class="hightlights-tabs" *ngFor="let item of hightLights">
          <p>{{item.dataType}}</p>
          <p class="p-values-hightlights">{{item.dataValue | number : '1.1-1'}}<span>{{item.unit}}</span></p> 
          <div *ngIf="item.dataType=='Humidity'" class="mt-2" style="min-height: 10px;">
            <div class="row d-flex">
              <div class="col-4">
                <p class="bar-process-number text-start">0</p>
              </div>
              <div class="text-center col-4">
                <p class="bar-process-number">50</p>
              </div>
              <div class="text-end col-4">
                <p class="bar-process-number text-end">100</p>
              </div>
            </div>
            <div class="progress m-0" style="height: 5px;">
              <div class="progress-bar bg-warning" role="progressbar" [ngStyle]="{'width': item.dataValue+'%'}" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <p class="bar-process-number text-end">%</p>
          </div>
          <div class="d-flex navigation" *ngIf="item.dataType=='Wind status'">
            <div class="icon-direction">
              <span class="material-symbols-outlined" [ngStyle]="{'transform': 'rotate('+item.deg+'deg)'}">navigation</span> 
            </div>
            WSW
          </div>
        </div>
      </div>
    </div>
  </div>
</div>